@font-face {
  font-family: "Plata";
  src: url("PlataSans-Regular.ttf") format("ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Plata Sans Black";
  src: url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.eot");
  src: url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/16692c6d67e18bc1fad5c35ddee47a8f.svg#Plata Sans Black")
      format("svg");
}
