.page {
  font-family: "Plata", Arial, sans-serif;
  background-color: #222;
  color: #fff;
  width: 1920px;
  position: relative;
  margin: auto;
}

.logo {
  display: block;
  inline-size: 256px;
  font-family: "Plata", Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 3%;
  line-height: 150%;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.header {
  display: flex;
  width: 100%;
  min-height: 58px;
  padding: 35px 0 15px 155px;
  position: fixed;
  top: 0;
  background-color: #222;
  z-index: 1;
}

.nav {
  display: grid;
}

.header__list {
  align-self: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 40px;
  text-transform: uppercase;
  padding-left: 100px;
  font-style: italic;
}

.hero {
  margin-block-start: 90px;
  padding: 0 0 50px 155px;
}

.hero__title {
  font-family: "Plata", Arial, Helvetica, sans-serif;
  font-size: 80px;
  margin-block-start: 320px;
  line-height: 120%;
  margin-block-end: 0;
}

.hero__discreption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 120%;
  margin-block-start: 20px;
}

.hero__title span {
  display: block;
}

.hero__list {
  margin-block-start: 40px;
  margin-inline-start: 50px;
}

.hero__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -55px;
  width: 39px;
  height: 37px;
  background-image: url(/image/check.svg);
  background-repeat: no-repeat;
}

.hero__item {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 110%;
  margin-inline-start: 15px;
  list-style: none;
  text-transform: lowercase;
  margin-block-start: 10px;
}

.header-image {
  position: absolute;
  top: -325px;
  right: 0;
  z-index: 1;
}

.hero__item span {
  font-family: "Plata", Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 4%;
  line-height: 150%;
  vertical-align: -5px;
}

.btn {
  font-size: 24px;
  letter-spacing: 4%;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #222222;
  background-color: #fff;
}

.buttun-order {
  width: 191px;
  height: 96px;
  margin-block-start: 30px;
  margin-inline-start: 6px;
}

.features {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  background-color: #282829;
  padding-block-start: 100px;
}

.features__container {
  justify-self: center;
  align-self: end;
  align-content: end;
  width: 614px;
}

.features__list {
  list-style: none;
}

.features__item::before {
  content: "";
  width: 58px;
  height: 47px;
  left: 0;
  top: 8px;
  background-image: url("/image/checkFeatures.png");
  background-repeat: no-repeat;
  position: absolute;
}

.features__item {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 115%;
  position: relative;
  padding-inline-start: 77px;
  font-size: 24px;
  border-bottom: 1px solid #55565a;
  margin-block-end: 40px;
  padding-bottom: 40px;
}

.features__item:last-child {
  border-bottom: none;
  margin-block-end: 0;
  padding-bottom: 0;
}

.features__button {
  width: 100%;
  height: 78px;
  margin-block-start: 80px;
}

.contact {
  display: grid;
  width: 1597px;
  height: 628px;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  border-radius: 30px;
  margin-bottom: 100px;
  background-image: url(/image/person.png), url(/image/backround-person.png);
  background-position: right;
  background-repeat: no-repeat;
}

.form {
  display: grid;
  max-width: 781px;
  align-self: center;
  margin-inline-start: 130px;
}

.legend {
  font-family: "Plata", Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 110%;
  color: #38535d;
  margin-block-end: 45px;
}

.legend span {
  display: block;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 150%;
  padding: 14px 14px;
}

.text {
  margin-block-end: 13px;
}

.input::placeholder {
  padding-left: 38px;
}

.privacy {
  position: relative;
  padding-left: 44px;
  color: #000;
  font-family: inherit;
  font-size: 19px;
  line-height: 130%;
  margin-block-start: 26px;
}

.privacy::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 0;
  width: 20px;
  height: 20px;
  outline: 1px solid #000;
  border-radius: 2px;
}

.form__button {
  height: 100px;
  font-family: inherit;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #282829;
  margin-block-start: 26px;
}

.footer {
  /*width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: space-around;*/
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 4%;
  font-family: Arial, Helvetica, sans-serif;
}

.footer__list {
  /*grid-column: 1 / 4;*/
  width: 100%;
  padding-left: 0;
  font-style: italic;
  align-self: center;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  padding: 40px 0 30px 0;
  justify-content: center;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin-block-start: 40px;
}

.footer__social {
  display: flex;
  gap: 32px;
  align-self: center;
}

.footer__logo {
  inline-size: auto;
  align-self: center;
}

.footer__text {
  margin-block-start: 30px;
}

.footer__button {
  width: 180px;
  height: 78px;
  background-color: #000;
  color: #fff;
}
